@model IEnumerable<DSAA.EntityFrameworkCore.Entity.Problem>

@{
    ViewData["Title"] = "题目综合管理";
}


<div class="">
    <div class="page-header-title">
        <h4 class="page-title">@ViewData["Title"] </h4>
    </div>
</div>



<!-- DataTables -->
<link href="~/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/plugins/datatables/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />



<div class="page-content-wrapper ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-primary">
                                    <div class="panel-body">
                                        <address>
                                            1. 您可以在本页添加、编辑和设置题目的隐藏状态，不允许删除已添加的题目。<br />
                                            2. 您可以创建或上传题目的数据，操作执行后会替换之前存在的数据。<br />
                                            3. 一个题目若隐藏，则无题目管理权限的用户无法查看和提交数据，在竞赛中的题目不受影响。<br />
                                        </address>
                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->

                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <table id="datatable" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <td>题目ID</td>
                                                        <td>题目标题</td>
                                                        <td>通过率</td>
                                                        <td>数据</td>
                                                        <td>分类</td>
                                                        <td>统计</td>
                                                        <td>编辑</td>
                                                        <td>删除</td>
                                                    </tr>
                                                </thead>


                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Id)
                                                            </td>
                                                            <td>
                                                                <a href="@Url.Action("Show", "Problem", new { area = "", id = item.Id })" target="_blank">
                                                                    @Html.DisplayFor(modelItem => item.Title)
                                                                </a>
                                                            </td>
                                                            <td>
                                                                @item.Ratio.ToString("F2")%
                                                            </td>
                                                            <td>
                                                                <button type="button" class="btn btn-xs waves-effect waves-ligh" onclick="urlto('DataCreate/@item.Id')">创建</button>
                                                                /<button type="button" class="btn btn-xs waves-effect waves-ligh" onclick="urlto('DataUpload/@item.Id')">上传</button>

                                                                /
                                                                <button type="button" class="btn btn-xs waves-effect waves-ligh" onclick="urlto('DataDownload/@item.Id')">下载</button>
                                                                /<button type="button" class="btn btn-xs waves-effect waves-ligh" onclick="eddata('DeleteData/@item.Id')">删除</button>

                                                            </td>
                                                            <td>
                                                                <a asp-area="Teacher" asp-controller="Problem" asp-action="CategorySet" asp-route-id="@item.Id " class="waves-effect">
                                                                    <button type="button" class="btn btn-success waves-effect waves-ligh">设置</button>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a asp-area="Teacher" asp-controller="Problem" asp-action="Recalculate" asp-route-id="@item.Id " class="waves-effect">
                                                                    <button type="button" class="btn btn-info waves-effect waves-ligh">重算</button>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a asp-area="Teacher" asp-controller="Problem" asp-action="Add" asp-route-id="@item.Id " class="waves-effect">
                                                                    <button type="button" class="btn btn-warning waves-effect waves-ligh">编辑</button>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <button type="button" class="btn btn-danger waves-effect waves-ligh" onclick="deletes(@item.Id,this)">删除</button>
                                                            </td>
                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>

                                        </div>
                                    </div>


                                </div> <!-- panel-body -->
                            </div>
                        </div> <!-- end row -->
                    </div> <!-- panel body -->
                </div> <!-- end panel -->

            </div> <!-- end col -->

        </div>
        <!-- end row -->


    </div><!-- container -->
</div> <!-- Page content Wrapper -->
<!-- Datatables-->
<script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/assets/plugins/datatables/dataTables.bootstrap.js"></script>
<script src="~/assets/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="~/assets/plugins/datatables/buttons.bootstrap.min.js"></script>
<script src="~/assets/plugins/datatables/jszip.min.js"></script>
<script src="~/assets/plugins/datatables/pdfmake.min.js"></script>
<script src="~/assets/plugins/datatables/vfs_fonts.js"></script>
<script src="~/assets/plugins/datatables/buttons.html5.min.js"></script>
<script src="~/assets/plugins/datatables/buttons.print.min.js"></script>
<script src="~/assets/plugins/datatables/dataTables.fixedHeader.min.js"></script>
<script src="~/assets/plugins/datatables/dataTables.keyTable.min.js"></script>
<script src="~/assets/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="~/assets/plugins/datatables/responsive.bootstrap.min.js"></script>
<script src="~/assets/plugins/datatables/dataTables.scroller.min.js"></script>


<script>

    function urlto(url) {
        window.location.href = url ;
    }
    function eddata(url) {
        swal({
            title: "操作确认",
            text: "删除后，您将无法恢复此题目！",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: url,
                        type: "post",
                        success: function (response) {
                            var rs = JSON.stringify(response);
                            if (response == null)
                                swal("操作成功！", {
                                    icon: "success",
                                });
                            else
                                swal(rs, {
                                    icon: "error",
                                });
                        }
                    });

                }
            });
    }
    function deletes(id, obj) {
        swal({
            title: "操作确认",
            text: "删除后，您将无法恢复此题目！",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "Delete/" + id,
                        type: "post",
                        success: function (response) {
                            if (response == "1") {
                                $(obj).parent().parent().remove();
                                swal("删除成功！", {
                                    icon: "success",
                                });
                            } else
                                swal("删除失败！", {
                                    icon: "error",
                                });
                        }
                    });

                }
            });
    }
</script>


<script>

    !function ($) {
        var DataTable = function () {
            this.$dataTableButtons = $("#datatable-buttons")
        };
        DataTable.prototype.createDataTableButtons = function () {
            0 !== this.$dataTableButtons.length && this.$dataTableButtons.DataTable({
                dom: "Bfrtip",
                buttons: [{
                    extend: "copy",
                    className: "btn-success"
                }, {
                    extend: "csv"
                }, {
                    extend: "excel"
                }, {
                    extend: "pdf"
                }, {
                    extend: "print"
                }],
                responsive: !0
            });
        },
            DataTable.prototype.init = function () {
                //creating demo tabels
                $('#datatable').dataTable();
                $('#datatable-keytable').DataTable({ keys: true });
                $('#datatable-responsive').DataTable();
                $('#datatable-scroller').DataTable({
                    ajax: "assets/plugins/datatables/json/scroller-demo.json",
                    deferRender: true,
                    scrollY: 380,
                    scrollCollapse: true,
                    scroller: true
                });
                var table = $('#datatable-fixed-header').DataTable({ fixedHeader: true });

                //creating table with button
                this.createDataTableButtons();
            },
            //init
            $.DataTable = new DataTable, $.DataTable.Constructor = DataTable
    }(window.jQuery),

        //initializing
        function ($) {
            $.DataTable.init();
        }(window.jQuery);

</script>