@model DSAA.EntityFrameworkCore.Entity.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PassWord)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PassWord)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NickName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NickName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubmitCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubmitCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SolvedCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SolvedCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsLocked)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsLocked)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rank)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
